<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentations</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
    />
    <link  rel="stylesheet" href="style.css"/>
</head>
<body>
<div th:replace="nav :: copy">

</div>

<div class="container" style="margin-top: 10vh">
    <p>Chào mừng các bạn đến với <mark>StackIssues</mark>, welcome welcome.</p>
    <p>Cuộc đời không gì hơn là những issues. <del>đụ mọa</del></p>
    <p>đôi lúc issues rơi xuống đầu, mà không biết từ đâu.</p>
    <p>cơ mà giải quyết nó trước khi nó overflow.</p>
    <p>bạn có thể là đức. một <strong>USER</strong> có thể tạo ra một record để theo dõi issue.</p>
    <p>dùng <strong>STATUS</strong> để cập nhật các trạng thái <mark>OnGoing,Complete,Delete</mark> của issue </p>
    <p>bạn có thể là đạt. một <strong>EXECUTOR</strong> có đủ quyền như đức nhưng có thêm chức năng cập nhật trạng thái <mark>Closed</mark>  </p>
    <p>để đóng hoàn toàn issue, xác nhận issue sẽ không bao giờ còn trên đời.</p>
    <p><strong>EXECUTOR</strong> có quyền làm vậy với tất cả issues của <strong>USER</strong> </p>
    <br />
    <br />
    <p>Test User: duc || kien || nhan || dat Pass: 123. Enjoy.</p>
</div>
</body>
</html>